numpy
tifffile>=2022.2.9
zarr>=2.11.0
opencv-python-headless
czifile
imagecodecs
lxml
geojson
pyYAML
toolz
dask
fsspec
itk-elastix
SimpleITK
pydantic>=2.6.4
ome-types>=ome-types-0.5.1
tiler
tqdm
matplotlib
